@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100%;
  width: 100%;
  padding: 1rem;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #d1d8ec;
}

.preneo {
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #d1d8ec;
  -webkit-box-shadow: 9px 9px 24px #b2b8c9, -9px -9px 24px #f0f8ff;
  box-shadow: 9px 9px 24px #b2b8c9;
}

.neo {
  border-radius: 20px;
  background-color: #d1d8ec;
  box-shadow: 9px 9px 24px #b2b8c9,-5px -5px 15px #f0f8ff;
  transition: box-shadow 0.2s ease-in-out;
}

.neo:hover {
  box-shadow: 3px 3px 7px #b2b8c9;
}
.hover-shrink {
  transition: all 0.1s ease-in-out;
}

.hover-shrink:hover {
  transform: scale(0.99);
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
}

.circle:hover {
  box-shadow: -2px -2px 5px rgba(255,255,255,0.45), 2px 2px 5px rgba(94,104,121,0.3);
}

.circle::after{
  content: '';
  position: absolute;
  height: 80%;
  width: 80%;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
}

.circle::after:hover {
  box-shadow: inset -2px -2px 5px rgba(255,255,255,0.45), inset 2px 2px 5px rgba(94,104,121,0.3);
}

.project-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(3,minmax(0, 1fr));
}

.link {
  cursor: pointer;
  text-decoration-line: underline;
}
.link:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.link:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}